<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController as navCtrl">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="navbar-header">
            <img src="img/logo.png" alt="logo" />
        </div>
        <div class="text-right">
            <a href="/inicio" class="btn btn-sm btn-primary align-items-center">Inicio</a>
            <a href="/solicitar-turno" class="btn btn-sm btn-primary align-items-center">Solicitar Turno</a>
        </div>
    </div>
</nav>